nav.navbar {
    background-color: #eee;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.expired {
    color: red;
}

a[inert] {
    opacity: 20%;
}

fieldset {
    border: 1px solid;
    padding: 0 .25rem .1rem;
    display: flex;
    flex-flow: wrap;
    column-gap: 2rem;
}

input:invalid {
    border-color: red;
}

legend {
    float: none;
    font-size: 1rem;
    margin: 0;
    padding: 0 .5rem;
    width: auto;
}

textarea {
    width: 100%;
}

td {
    vertical-align: top;
}

th {
    text-align: left;
    vertical-align: bottom;
}

/* Responsive Table */
table {
    margin: auto;
    width: 100%;
}

table thead {
    display: none;
}

table tbody tr {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

table tbody tr:nth-of-type(even)>* {
    background: lightgray;
}

td.c-sn {
    order: 1;
}

td.c-cn {
    order: 3;
}

td.c-cat {
    order: 2;
    text-align: right;
}

td.c-num {
    order: 4;
    text-align: right;
}

th.c-num {
    text-align: right;
}

/* Filter Form */
div.section {
    margin-top: .25rem;
}

div.filter {
    border-radius: 5px;
    padding: .25rem;
}

#f1 {
    background-color: lightgreen;
}

#f2 {
    background-color: #ff000088;
}

#search-crit {
    /* See https://css-tricks.com/books/greatest-css-tricks/flexible-grids/ */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 49.9%));
    justify-content: space-between;
}

#search-crit.no-exclude {
    grid-template-columns: repeat(auto-fill, 100%);
}

div.buttons {
    display: flex;
    column-gap: .5rem;
}

div.buttons input {
    flex: 1;
}

div.options {
    display: flex;
    gap: 3rem;
    margin: auto;
    width: fit-content;
}

div.coordoptions {
    display: flex;
    gap: 1rem;
    margin: auto;
    width: fit-content;
}

div.displayoptions {
    display: flex;
    gap: 1rem;
}

div.form-input {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-top: .1rem;
}

div.form-input label {
    min-width: 4rem;
}

div.form-input input.year {
    width: 4rem;
}

fieldset div.form-input label {
    min-width: auto;
}

div.form-input input {
    width: 100%;
}

div.summary {
    background-color: lightgreen;
    padding: .25rem;
}

div.flex-fullwidth {
    column-gap: 1rem;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 600px) {

    table {
        width: auto;
    }

    table thead {
        display: table-header-group;
    }

    table tbody tr {
        display: table-row;
    }

    td,
    th {
        border: solid 1px black;
    }

    td.c-cat {
        text-align: left;
    }

    span.sm-label {
        display: none;
    }

    #search-crit div.buttons {
        grid-column: 1/span 2;
    }

}