<div id="progress" hidden>
    <input type="button" id="cancel-query" value="Cancel">
    Retrieving <span id="prog-label"></span> page <span id="prog-page"></span>
    <span id="prog-page-of"> of <span
            id="prog-page-max"></span></span>
</div>
