{% macro create_search_form(prefix) %}
    {{inp_proj(prefix)}}
    {{inp_place(prefix)}}
    {{inp_observer(prefix)}}
    {{inp_taxon(prefix)}}
    <fieldset>
        <legend>Date</legend>
        {{inp_years(prefix)}}
    </fieldset>
    <div id="{{prefix}}-misc" class="fieldset">
    </div>
{% endmacro %}

{% macro inp_observer(prefix) %}
    <div class="form-input">
        <label for="{{prefix}}-observer-name">Observer</label>
        <input type="text" list="{{prefix}}-observer-name-list" id="{{prefix}}-observer-name" autocomplete="off">
        <input type="hidden" id="{{prefix}}-observer-id">
        <datalist id="{{prefix}}-observer-name-list"></datalist>
    </div>
{% endmacro %}

{% macro inp_place(prefix) %}
    <div id="{{prefix}}-locations">
        <div class="form-input" id="{{prefix}}-locations-place">
        <label for="{{prefix}}-place-name">Place</label>
        <input type="text" list="{{prefix}}-place-name-list" id="{{prefix}}-place-name" autocomplete="off">
        <input type="hidden" id="{{prefix}}-place-id">
        <datalist id="{{prefix}}-place-name-list"></datalist>
        </div>
    </div>
{% endmacro %}

{% macro inp_proj(prefix) %}
    <div class="form-input">
        <label for="{{prefix}}-proj-name">Project</label>
        <input type="text" list="{{prefix}}-proj-name-list" id="{{prefix}}-proj-name" autocomplete="off">
        <input type="hidden" id="{{prefix}}-proj-id">
        <datalist id="{{prefix}}-proj-name-list"></datalist>
    </div>
{% endmacro %}

{% macro inp_taxon(prefix) %}
    <div class="form-input">
        <label for="{{prefix}}-taxon-name">Taxon</label>
        <input type="text" list="{{prefix}}-taxon-name-list" id="{{prefix}}-taxon-name" autocomplete="off">
        <input type="hidden" id="{{prefix}}-taxon-id">
        <datalist id="{{prefix}}-taxon-name-list"></datalist>
    </div>
    <fieldset id="{{prefix}}-annotation-filter">
        <legend>Annotations</legend>
        <div class="form-input" id="{{prefix}}-ann-type-plants">
            <label for="{{prefix}}-ann-plants">Plant Phenology</label>
            <select id="{{prefix}}-ann-plants">
                <option>Any</option>
                <option>Flowering</option>
                <option>Flower Buds</option>
                <option>Not Flowering</option>
            </select>
        </div>
        <div class="form-input" id="{{prefix}}-ann-type-ev-mammal">
            <label for="{{prefix}}-ann-ev-mammal">Evidence</label>
            <select id="{{prefix}}-ann-ev-mammal">
                <option>Any</option>
                <option>Organism</option>
            </select>
        </div>
    </fieldset>
{% endmacro %}

{% macro inp_year(prefix, suffix) %}
    <div>
        <input type="number" class="year" inputmode="numeric" min="2000" id="{{prefix}}-year{{suffix}}" maxlength="4" autocomplete="off">
    </div>
{% endmacro %}

{% macro inp_years(prefix) %}
    <div id="{{prefix}}-date-years" class="form-input">
        <label for="{{prefix}}-year">Year</label>
        <select id="{{prefix}}-year">
            <option>Any</option>
            <option>This</option>
            <option>Last</option>
            <option>Range</option>
        </select>
        {{ inp_year(prefix,1) }} to {{ inp_year(prefix,2) }}
    </div>
{% endmacro %}
