---
layout: default.njk
title: Cache
js: cache
---

{%block content%}

    <div id="tools" class="section center">
        <button id="clear-all">Clear All</button>
    </div>

    <div id="results" class="section"></div>

{% endblock %}