---
layout: default.njk
title: Login
js: login
---

{%block content%}

    <div id="error-section" class="section center" hidden>
        <div id="error-text"></div>
        <div>
            <input type="button" value="Login" id="error-retry">
            <input type="button" value="Cancel" id="error-cancel">
        </div>
    </div>

    <div id="logout-section" class="section center" hidden>
        <input type="button" value="Log Out" id="logout-button">
    </div>
{% endblock %}
