---
layout: default.njk
title: Observation Detail
js: obsdetail
---

{%block content%}

    {% import "imports/searchform.njk" as searchform %}

    <form id="form" novalidate>

        <div id="search-crit" class="no-exclude" hidden>

            <div id="f1" class="filter section">

                <div class="right">
                    <input type="button" id="f1-set-from-url" value="Set from URL">
                </div>

                {{ searchform.create_search_form("f1") }}

                <div class="buttons section">
                    <input type="submit" id="filter-submit">
                </div>

            </div>

        </div>

    </form>

    {%include "imports/progress.njk"%}

    <div id="results"></div>

{% endblock %}
