---
layout: default.njk
title: Observation Summary
js: obssummary
---

{%block content%}
    {% import "imports/searchform.njk" as searchform %}

    <form id="form" novalidate>

        <div id="search-crit" class="no-exclude">

            <div id="f1" class="filter section">

                {{ searchform.create_search_form("f1") }}

                <div class="buttons section">
                    <input type="submit" id="filter-submit">
                </div>

            </div>

        </div>

    </form>

    {%include "imports/progress.njk"%}

    <div id="results"></div>

{% endblock %}