---
layout: default.njk
title: Species Summary
js: taxa
---

{%block content%}
    {% import "imports/searchform.njk" as searchform %}

    <form id="form">

        <div id="search-crit" class="no-exclude">

            <div id="f1" class="filter section">

                <div class="flex-fullwidth">
                    <div>Include:</div>
                    <div><input type="button" id="add-exclusions" value="Add Exclusions"></div>
                </div>

                {{ searchform.create_search_form("f1") }}

            </div>

            <div id="f2" class="filter section" style="display: none;">

                <div class="flex-fullwidth">
                    <div>Exclude:</div>
                    <div><input type="button" id="remove-exclusions" value="Remove"></div>
                </div>

                {{ searchform.create_search_form("f2") }}

            </div>

            <div class="buttons section">
                <input type="submit" id="filter-submit">
            </div>

        </div>

    </form>

    {%include "imports/progress.njk"%}

    <div id="results"></div>

    {%endblock%}