---
layout: default.njk
title: Species Summary
js: taxa
---

{%block content%}
    {% import "imports/searchform.njk" as searchform %}

    <form id="form">

        <div id="search-crit" class="no-exclude">

            <div id="f1" class="filter section">

                <div class="flex-fullwidth">
                    <div>Include:</div>
                    <div>
                    <input type="button" id="f1-set-from-url" value="Set from URL">
                    <input type="button" id="add-comparison" value="Compare">
                    </div>
                </div>

                {{ searchform.create_search_form("f1") }}

            </div>

            <div id="f2" class="filter section" hidden>

                <div class="flex-fullwidth">
                    <div class="form-input">
                    <input type="radio" name="compare-type" id="comp-exclude" value="exclude"><label for="comp-exclude">Exclude</label>
                    <input type="radio" name="compare-type" id="comp-subtract" value="subtract"><label for="comp-subtract">Subtract</label>
                    </div>
                    <div>
                    <input type="button" id="f2-set-from-url" value="Set from URL">
                    <input type="button" id="remove-comparison" value="Remove"></div>
                </div>

                {{ searchform.create_search_form("f2") }}

            </div>

            <div class="buttons section">
                <input type="submit" id="filter-submit">
            </div>

        </div>

    </form>

    {%include "imports/progress.njk"%}

    <div id="results"></div>

    {%endblock%}
